.account {
    display: flex;
    padding-top: 40px;
}

.account li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
}

#accountmenu {
    width: 20%;
}

#accountoutlet {
    display: flex;
    justify-content: center;
    width: 80%;
}