.cart {
    display: flex;
    margin-top: 40px;
    background-color: rgb(139, 133, 138);
    width: 100%;
    font-size: 120%;
    margin-left: 50px;
  
   
}
#name{
      margin-left: 30px;

}
#brand{
      margin-left: 100px;

}
#price{
      margin-left: 170px;

}
#cancel{

  margin-left: 190px;
}
