#payer input{
       color:  rgb(27, 23, 27);
        font-size: 20px;
        margin-left: 400px;
        margin-top: 70px;

}
#cart{
    display: flex;
    margin-top: 80px;
}
#total{
      margin-left: 420px;
      margin-top: 30px;
}