.footer-nav {
    display: flex;
    padding: 0;
    background-color: #bebfc2;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3em;
}

.footer-nav li {
    list-style-type: none;
}
