.form {
  width: 320px;
  height: 360px;
  margin: 0 auto;
  background-color: #b1c9cf;
  padding: 30px 1px 80px 100px;
  margin-top: 100px;

}

.form input, .form textarea {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
  margin-bottom: 5px;
}