.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    background-color: #bebfc2;
}

.menu li {
    list-style-type: none;
}

.icone {
    font-size: 1.5em;
}

.search-container {
    position: relative;
    padding: 0;
    margin: 0;
}

.search-container input {
    width: 250px;
    height: 20px;
    border-radius: 5px;
    border: thin silver solid;
    margin: 0;
    padding-left: 5px;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 20px;
    height: 20px;
}