.personal-info-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 320px;
    height: 360px;
    background-color: #b1c9cf;
}

.personal-info-form input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;    
}

.personal-info-genre {
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}