.product-filter {
    background-color: #c7c7c7;
    width: 240px;
    height: 160px;
    margin-top: 100px;
}

.product-filter-title {
    width: 100%;
    height: 10%;
    text-align: center;
}

.product-filter-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 2em;
    color: black;
    height: 90%;
}

.product-filter-item {
    display: flex;
    align-items: center;
    color: black;
}

.product-filter-icon {
    margin-right: 0.25em;
}