.single-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 250px;
  height: 250px;
  font-size: smaller;
  border: thin silver solid;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  box-sizing: content-box;
  cursor: pointer;
}

.single-product-brand {
  text-align: left;
  padding-left: 5px;
}

.single-product-image {
  display: flex;
  justify-content: center;
}

.single-product-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}